BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2
ColumnLimit: 0
---
Language: Cpp
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveMacros: true
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket : DontAlign