[submodule "external/Detours"]
	path = external/Detours
	url = https://github.com/microsoft/Detours
[submodule "external/StackWalker"]
	path = external/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker
[submodule "external/WzLib"]
	path = external/WzLib
	url = https://github.com/iw2d/WzLib.git
